{% extends "base.html" %}

{% block title %}Домашняя страница магазина{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="block"><h1>О нашей компании</h1></div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="block"><p>Какая-то информация...</p></div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="block"><p>Какая-то картинка</p></div>
      </div>
    </div>
  </div>
{% endblock  %}
