{% extends "base.html" %}

{% block title %}Вход в аккаунт{% endblock %}

{% block content %}
<div class="login-page">

  <div class="form">

    <form class="register-form">
      <input type="text" placeholder="имя пользователя" name="login"/>
      <input type="password" placeholder="пароль" name="password"/>
      <input type="password" placeholder="повторите пароль" name="password2"/>
      <input type="text" placeholder="почтовый адрес" name="mail"/>
      <button>создать</button>
      <p class="message">
        Уже зарегестрированы? <a href="#">Войти в систему</a>
      </p>
    </form>
    
    <form class="login-form">
      <input type="text" placeholder="имя пользователя" name="login"/>
      <input type="password" placeholder="пароль" name="password"/>
      <button>войти</button>
      <p class="message">
        Не зарегестрированы? <a href="#">Создать аккаунт</a>
      </p>
    </form>

  </div>
</div>

{% endblock %}